.library-container {
  width: 30%;
  background-color: dimgray;
  padding: 15px;
  margin: 30px 10px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}

.library-header {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.display-form {
  margin-bottom: 20px;
  padding: 10px 210px;
  font-size: 1.2em;
}

.library-view-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.library-view-item {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
}

.library-item {
  list-style-type: none;
  margin-top: 20px;
}

.my-video-container {
  display: flex;
  align-items: center;
}

.my-video-container {
  display: flex;
}

.my-video-button-supp, .my-video-button {
  border: none;
  cursor: pointer;
  outline: none;
}

.my-video-button-supp {
  width: 30px;
  height: 80px;
  padding: 30px 10px;
  box-sizing: border-box;
  text-align: center;
}

.my-video-button {
  width: 400px;
  height: 80px;
  padding: 30px 10px;
  box-sizing: border-box;
  text-align: center;
  line-height: 1;
}

.my-video-button-supp:hover, .my-video-button:hover {
  background-color: lightgray;
}