.main-panel-container {
  width: 70%;
  background-color: whitesmoke;
  padding: 80px; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.main-panel-search-view {
  background-color: white;
  flex-grow: 1;
  border-radius: 100px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-panel-video {
  background-color: white;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  font-size: 1.5em;
}